body {
    margin: 0;
    padding: 0;
}

#map {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map2 {
    width: 90%;
    height: 600px;
    margin: 5em auto;
}

#map3 {
  width: 90%;
  height: 600px;
  margin: 5em auto;
}

#map4 {
  width: 90%;
  height: 600px;
  margin: 5em auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}


/* new title and legend stuff */

.title {
	background-color: #fff;
	opacity: 70%;
	border-radius: 1em;
	bottom: 10em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2.5em;
	padding: 1em 2em 0em;
	position: absolute;
	max-width: 25%;
	margin: 0em 5em;
	z-index: 100;
}
.title h1{
	opacity: 100%;
}
.title p {
	line-height: 1.5em;
	opacity: 100%;
}
.title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.title hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}


.legend {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: 1em 1em 2em 1em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
  }
  .legend h4 {
    margin: 0 0 10px;
    opacity: 100%
  }
  .legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 32px;
  }

  .span{
    margin: 0px;
  }


.legend2 {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: 1em 1em 1em 1em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%
  }
  .legend2 h4 {
    margin: 0 0 0px;
    opacity: 100%
  }
  .legend2 p {
    padding-top: 0px;
    margin-top: 0px;
  }
  .legend2 div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100px;
  }

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}

.column-container {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .row-container {
    flex-direction: column;
  }}



  body {
    background: linear-gradient(90deg, rgba(217,175,217,1) 0%, rgba(151,217,225,1) 100%);
}



.header {
    max-width: 50rem; 
    margin: auto;
}
.header p{
  text-align: center;
  margin: auto;
}
.header h3{
  text-align: center;
  margin: auto;
}

.important p{
  text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}


.section {
    max-width: 50rem;
    margin:auto; 

}

.footer {
    max-width: 50rem;
    margin: 2rem auto;
    text-align: center;
    border-top: solid 1px;
    border-color: #FC00FF;
}

img {
    max-width: 50rem;
}

h3 {
    font-family: monospace;
}

p {
    font-family: monospace;
    line-height: 1.75em;
}

li {
  font-family: monospace;
}

.footer p {
    font-size: small;
}

a, a:visited {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;   
}

a:hover {
    color: hsla(0,0%,0%, 0.5);  
}

a.no-underline {
    text-decoration: none;
}


/* new legend stuff */
.my-legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
  }
.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
  }
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }